# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/HandlerExample/bin/Debug/HandlerExample.pdb
src/.vs/NHB/DesignTimeBuild/.dtbcache
src/.vs/NHB/v15/.suo
src/.vs/NHB/v15/Server/sqlite3/storage.ide
src/.vs/NHB/v15/Server/sqlite3/storage.ide-shm
src/.vs/NHB/v15/Server/sqlite3/storage.ide-wal
src/HandlerExample/bin/Debug/HandlerExample.pdb
src/HandlerExample/bin/Debug/NiceHashBotLib.pdb
src/HandlerExample/bin/Release/HandlerExample.pdb
src/HandlerExample/bin/Release/NiceHashBotLib.pdb
src/HandlerExample/obj/Debug/HandlerExample.csproj.FileListAbsolute.txt
src/HandlerExample/obj/Debug/HandlerExample.csprojAssemblyReference.cache
src/HandlerExample/obj/Debug/HandlerExample.pdb
src/HandlerExample/obj/Release/HandlerExample.csprojAssemblyReference.cache
src/HandlerExample/obj/Release/HandlerExample.pdb
src/NiceHashBot/bin/Debug/NiceHashBot.pdb
src/NiceHashBot/bin/Debug/NiceHashBotLib.pdb
src/NiceHashBot/bin/Release/NiceHashBot.pdb
src/NiceHashBot/bin/Release/NiceHashBotLib.pdb
src/NiceHashBot/bin/Release/orders.json
src/NiceHashBot/bin/Release/NiceHashBotLib.pdb
src/NiceHashBot/bin/Release/NiceHashBot.pdb
src/.vs/NHB/v15/.suo
src/NiceHashBot/bin/Debug/NiceHashBot.pdb
src/NiceHashBot/obj/x86/Debug/NiceHashBot.pdb
src/NiceHashBot/obj/x86/Release/NiceHashBot.pdb
src/NiceHashBot/bin/Release/NiceHashBot.pdb
src/.vs/NHB/v15/Server/sqlite3/storage.ide-wal
src/.vs/NHB/v15/.suo
src/.vs/NHB/v15/.suo
src/.vs/NHB/v15/Server/sqlite3/storage.ide
src/.vs/NHB/v15/Server/sqlite3/storage.ide-shm
src/.vs/NHB/v15/Server/sqlite3/storage.ide-wal
src/HandlerExample/bin/Debug/HandlerExample.pdb
src/HandlerExample/bin/Debug/NiceHashBotLib.pdb
src/HandlerExample/obj/Debug/HandlerExample.csprojAssemblyReference.cache
src/HandlerExample/obj/Debug/HandlerExample.pdb
src/NiceHashBot/bin/Debug/NiceHashBot.pdb
src/NiceHashBot/bin/Debug/NiceHashBotLib.pdb
src/NiceHashBot/bin/Debug/pools.json
src/NiceHashBot/obj/x86/Debug/NiceHashBot.pdb
src/NiceHashBotLib/bin/Debug/NiceHashBotLib.pdb
src/NiceHashBotLib/obj/Debug/NiceHashBotLib.pdb
src/NiceHashBot/obj/x86/Release/NiceHashBot.pdb
src/NiceHashBot/obj/x86/Debug/NiceHashBot.pdb
src/NiceHashBot/obj/x86/Debug/NiceHashBot.csproj.GenerateResource.cache
src/NiceHashBot/bin/Release/NiceHashBot.pdb
src/NiceHashBot/bin/Debug/NiceHashBot.pdb
src/.vs/NHB/v15/.suo
